n8n/02_GENESIS_IA_ENTREVISTAS_REAGENDAMENTO_V4.json
{
  "name": "[GENESIS IA] Entrevistas Google Meet - Reagendamento V4",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        3376,
        2432
      ],
      "id": "5a766ac9-3002-4868-9d4d-1f18ff87bc40",
      "name": "Quando chamado pelo workflow principal"
    },
    {
      "parameters": {
        "jsCode": "const recebido = $input.first().json ?? {};\nconst input = recebido.body && typeof recebido.body === 'object'\n  ? recebido.body\n  : recebido;\n\nconst action = String(\n  input.action\n  ?? input.acao_agendamento\n  ?? ''\n).trim().toUpperCase();\n\nif (!['GERAR_OPCOES', 'AGENDAR', 'REAGENDAR'].includes(action)) {\n  throw new Error(\n    `action inválida: \"${action}\". Use GERAR_OPCOES, AGENDAR ou REAGENDAR.`\n  );\n}\n\nconst candidatoId = Number(\n  input.candidato_id\n  ?? input.id\n);\n\nif (!Number.isInteger(candidatoId) || candidatoId <= 0) {\n  throw new Error(\n    `candidato_id inválido: ${input.candidato_id ?? input.id}`\n  );\n}\n\nconst opcaoNumero = Number(\n  input.opcao_numero\n  ?? input.opcao_horario_escolhida\n  ?? 0\n);\n\nif (action === 'AGENDAR' && ![1, 2, 3].includes(opcaoNumero)) {\n  throw new Error(\n    'Para AGENDAR, opcao_numero precisa ser 1, 2 ou 3.'\n  );\n}\n\nreturn [{\n  json: {\n    action,\n    candidato_id: candidatoId,\n    opcao_numero: action === 'AGENDAR' ? opcaoNumero : null,\n    calendar_id: String(\n      input.calendar_id\n      || 'ec7f0c6eb99778cac22b9a9aefec9e648e8ba5519172b6fc45ab03f938948c7f@group.calendar.google.com'\n    ),\n    timezone: String(\n      input.timezone || 'America/Sao_Paulo'\n    ),\n    session: String(\n      input.session || 'whats_junior'\n    ),\n    recrutadora_telefone: String(\n      input.recrutadora_telefone || '5511951558547'\n    ).replace(/\\D/g, ''),\n    motivo_regeneracao: String(input.motivo_regeneracao || '')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3584,
        2432
      ],
      "id": "00791101-af3e-48b0-94a5-e990a2f76530",
      "name": "Validar entrada"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    c.id AS candidato_id,\n    c.nome,\n    c.telefone,\n    c.vaga_id,\n    COALESCE(v.titulo, c.vaga, 'Vaga não informada') AS vaga,\n    c.apresentacao_profissional,\n    c.personalidade_resumo,\n    c.personalidade_tags,\n    entrada.action,\n    entrada.opcao_numero,\n    entrada.calendar_id,\n    entrada.timezone,\n    entrada.session,\n    entrada.recrutadora_telefone,\n    entrada.motivo_regeneracao,\n    e.id AS entrevista_id,\n    e.inicio AS entrevista_inicio,\n    e.fim AS entrevista_fim,\n    e.meet_link AS entrevista_meet_link,\n    e.google_event_url AS entrevista_google_event_url,\n    e.google_event_id AS entrevista_google_event_id,\n    e.calendar_id AS entrevista_calendar_id\nFROM (\n    SELECT\n      $1::BIGINT AS candidato_id,\n      $2::TEXT AS action,\n      $3::INTEGER AS opcao_numero,\n      $4::TEXT AS calendar_id,\n      $5::TEXT AS timezone,\n      $6::TEXT AS session,\n      $7::TEXT AS recrutadora_telefone,\n      $8::TEXT AS motivo_regeneracao\n) entrada\nJOIN candidatos c ON c.id = entrada.candidato_id\nLEFT JOIN vagas v ON v.id = c.vaga_id\nLEFT JOIN LATERAL (\n    SELECT *\n    FROM entrevistas\n    WHERE candidato_id = c.id\n      AND status = 'AGENDADA'\n    ORDER BY created_at DESC\n    LIMIT 1\n) e ON TRUE\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [\n  $json.candidato_id,\n  $json.action,\n  $json.opcao_numero,\n  $json.calendar_id,\n  $json.timezone,\n  $json.session,\n  $json.recrutadora_telefone,\n  $json.motivo_regeneracao\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3824,
        2432
      ],
      "id": "08f6d5ad-9ba4-45be-87cb-1a2a4cdd93e8",
      "name": "Carregar candidato e vaga",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "77eee5b5-1df5-477e-afaa-51df42282e32",
              "leftValue": "={{ Boolean($json.entrevista_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4544,
        2528
      ],
      "id": "b8342d3b-b137-43c4-a088-f0eaba09e196",
      "name": "Já possui entrevista agendada?"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst data = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: d.timezone || 'America/Sao_Paulo',\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n}).format(new Date(d.entrevista_inicio));\n\nreturn [{\n  json: {\n    ok: true,\n    status: 'JA_AGENDADA',\n    candidato_id: d.candidato_id,\n    telefone: d.telefone,\n    session: d.session,\n    inicio: d.entrevista_inicio,\n    fim: d.entrevista_fim,\n    meet_link: d.entrevista_meet_link || '',\n    google_event_url: d.entrevista_google_event_url || '',\n    mensagem_whatsapp:\n      `Sua entrevista já está agendada. Abaixo estão os dados para consulta. ✅\\n\\n` +\n      `📅 ${data}\\n` +\n      `💻 Google Meet\\n` +\n      `${d.entrevista_meet_link || d.entrevista_google_event_url || ''}\\n\\n` +\n      `Entre no link com aproximadamente 5 minutos de antecedência.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        2240
      ],
      "id": "7c7a185a-70c8-4c55-b56d-4972d2f91aa9",
      "name": "Retorno entrevista existente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "79dba947-cc35-4e65-a8ca-26d6e4e66107",
              "leftValue": "={{ $json.action === 'GERAR_OPCOES' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4304,
        2512
      ],
      "id": "0206e26a-5455-461b-bc05-df59867be8ba",
      "name": "É para gerar opções?"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst now = new Date();\nconst SLOT_MS = 20 * 60 * 1000;\nconst earliestMs = Math.ceil((now.getTime() + 60 * 60 * 1000) / SLOT_MS) * SLOT_MS;\nconst latestMs = now.getTime() + 30 * 24 * 60 * 60 * 1000;\n\nreturn [{\n  json: {\n    ...d,\n    busca_inicio: new Date(earliestMs).toISOString(),\n    busca_fim: new Date(latestMs).toISOString(),\n    duracao_minutos: 20,\n    motivo_regeneracao: d.motivo_regeneracao || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4576,
        2352
      ],
      "id": "afe7cbba-a629-42e0-89ae-6cf8f35fe20c",
      "name": "Preparar janela de busca"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Preparar janela de busca').first().json.calendar_id }}",
          "mode": "id"
        },
        "returnAll": true,
        "timeMin": "={{ $('Preparar janela de busca').first().json.busca_inicio }}",
        "timeMax": "={{ $('Preparar janela de busca').first().json.busca_fim }}",
        "options": {
          "orderBy": "startTime",
          "recurringEventHandling": "expand"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4816,
        2352
      ],
      "id": "c76a4d28-af20-4d62-b35a-07e1749e900b",
      "name": "Buscar compromissos do Calendar",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UK61D1PIzGuZcVUC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Preparar janela de busca').first().json;\nconst eventos = $input.all()\n  .map(item => item.json)\n  .filter(item => item && Object.keys(item).length);\n\nconst timezone = base.timezone || 'America/Sao_Paulo';\nconst SLOT_MINUTES = 20;\nconst SLOT_MS = SLOT_MINUTES * 60 * 1000;\nconst agoraMaisUmaHora = Date.now() + 60 * 60 * 1000;\nconst limiteBusca = new Date(base.busca_fim).getTime();\n\nfunction eventDate(value) {\n  if (!value) return null;\n  if (typeof value === 'string') return new Date(value);\n  if (value.dateTime) return new Date(value.dateTime);\n  if (value.date) return new Date(`${value.date}T00:00:00-03:00`);\n  return null;\n}\n\nconst ocupados = eventos\n  .filter(e => String(e.status || '').toLowerCase() !== 'cancelled')\n  .filter(e => String(e.transparency || '').toLowerCase() !== 'transparent')\n  .map(e => {\n    const inicio = eventDate(e.start);\n    const fim = eventDate(e.end);\n    return inicio && fim ? [inicio.getTime(), fim.getTime()] : null;\n  })\n  .filter(Boolean);\n\nfunction partsAt(date, zone) {\n  const parts = new Intl.DateTimeFormat('en-CA', {\n    timeZone: zone,\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit',\n    hourCycle: 'h23'\n  }).formatToParts(date);\n  return Object.fromEntries(parts.map(part => [part.type, part.value]));\n}\n\nfunction localToUtc(dateString, hour, minute, zone) {\n  const [year, month, day] = dateString.split('-').map(Number);\n  let guess = Date.UTC(year, month - 1, day, hour, minute, 0);\n\n  for (let i = 0; i < 3; i++) {\n    const p = partsAt(new Date(guess), zone);\n    const represented = Date.UTC(\n      Number(p.year), Number(p.month) - 1, Number(p.day),\n      Number(p.hour), Number(p.minute), Number(p.second)\n    );\n    const target = Date.UTC(year, month - 1, day, hour, minute, 0);\n    guess += target - represented;\n  }\n\n  return new Date(guess);\n}\n\nconst dateKeyFormatter = new Intl.DateTimeFormat('en-CA', {\n  timeZone: timezone,\n  year: 'numeric', month: '2-digit', day: '2-digit'\n});\nconst weekdayFormatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: timezone,\n  weekday: 'short'\n});\nconst displayFormatter = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: timezone,\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  hourCycle: 'h23'\n});\n\nfunction overlaps(start, end) {\n  return ocupados.some(([busyStart, busyEnd]) => start < busyEnd && end > busyStart);\n}\n\nconst opcoes = [];\nconst primeiroDia = new Date();\n\nfor (let deslocamento = 0; deslocamento <= 30 && opcoes.length < 3; deslocamento++) {\n  const referencia = new Date(primeiroDia.getTime() + deslocamento * 24 * 60 * 60 * 1000);\n  const dataLocal = dateKeyFormatter.format(referencia);\n  const weekday = weekdayFormatter.format(localToUtc(dataLocal, 12, 0, timezone));\n\n  if (!['Mon', 'Tue', 'Wed', 'Thu', 'Fri'].includes(weekday)) continue;\n\n  // Último início permitido: 17:40, para a entrevista terminar às 18:00.\n  for (let minutos = 8 * 60; minutos <= 17 * 60 + 40 && opcoes.length < 3; minutos += SLOT_MINUTES) {\n    const hora = Math.floor(minutos / 60);\n    const minuto = minutos % 60;\n    const inicio = localToUtc(dataLocal, hora, minuto, timezone);\n    const fim = new Date(inicio.getTime() + SLOT_MS);\n\n    if (inicio.getTime() < agoraMaisUmaHora) continue;\n    if (fim.getTime() > limiteBusca) continue;\n    if (overlaps(inicio.getTime(), fim.getTime())) continue;\n\n    const verificacao = partsAt(inicio, timezone);\n    const minutoLocal = Number(verificacao.hour) * 60 + Number(verificacao.minute);\n    const fimLocal = partsAt(new Date(fim.getTime() - 1), timezone);\n    const minutoFimLocal = Number(fimLocal.hour) * 60 + Number(fimLocal.minute) + 1;\n\n    if (minutoLocal < 8 * 60 || minutoFimLocal > 18 * 60) continue;\n\n    opcoes.push({\n      opcao: opcoes.length + 1,\n      inicio: inicio.toISOString(),\n      fim: fim.toISOString(),\n      texto: displayFormatter.format(inicio)\n    });\n  }\n}\n\nconst lote = `op-${base.candidato_id}-${Date.now()}`;\nconst prefixo = base.motivo_regeneracao === 'HORARIO_OCUPADO'\n  ? 'O horário escolhido acabou de ser ocupado. Separei três novas opções disponíveis:\\n\\n'\n  : base.motivo_regeneracao === 'OPCAO_INVALIDA'\n    ? 'Essas opções venceram ou não consegui identificar a escolha. Separei três novas opções:\\n\\n'\n    : base.motivo_regeneracao === 'SOLICITADO_PELO_CANDIDATO'\n      ? 'Claro! Separei três novas opções disponíveis:\\n\\n'\n      : base.motivo_regeneracao === 'REAGENDAMENTO'\n        ? 'O horário anterior foi liberado. Separei três novas opções para o reagendamento:\\n\\n'\n        : 'Você gostaria de marcar uma entrevista on-line pelo Google Meet? Estas são as opções disponíveis:\\n\\n';\n\nlet mensagem;\nif (opcoes.length === 3) {\n  mensagem =\n    prefixo +\n    opcoes.map(o => `${o.opcao}. ${o.texto}`).join('\\n') +\n    '\\n\\nA entrevista dura cerca de 20 minutos. Os horários são entre 08h e 18h. Responda com 1, 2 ou 3.';\n} else {\n  mensagem =\n    'Sua triagem está aprovada, mas não encontrei três horários livres entre 08h e 18h no momento. ' +\n    'A equipe de recrutamento entrará em contato para combinar a entrevista.';\n}\n\nreturn [{\n  json: {\n    ...base,\n    lote,\n    opcoes,\n    encontrou_tres: opcoes.length === 3,\n    expira_em: new Date(Date.now() + 24 * 60 * 60 * 1000).toISOString(),\n    mensagem_whatsapp: mensagem\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        2352
      ],
      "id": "8b7f84d4-ae53-4fbb-8be7-87231e9f3fb1",
      "name": "Calcular 3 opções livres"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH anteriores AS\n(\n    UPDATE entrevista_opcoes\n    SET status = 'CANCELADA', updated_at = NOW()\n    WHERE candidato_id = $1\n      AND status = 'OFERECIDA'\n    RETURNING id\n),\nnovas AS\n(\n    INSERT INTO entrevista_opcoes\n    (\n        candidato_id, lote, opcao, inicio, fim, status, expira_em\n    )\n    SELECT\n        $1,\n        $2,\n        x.opcao,\n        x.inicio,\n        x.fim,\n        'OFERECIDA',\n        $3\n    FROM jsonb_to_recordset($4::JSONB)\n      AS x(opcao SMALLINT, inicio TIMESTAMPTZ, fim TIMESTAMPTZ)\n    RETURNING id\n),\ncandidato_atualizado AS\n(\n    UPDATE candidatos\n    SET\n        etapa = CASE\n          WHEN $5::BOOLEAN THEN 'ESCOLHENDO_HORARIO'\n          ELSE 'AGUARDANDO_ENTREVISTA'\n        END,\n        status = 'APROVADO',\n        updated_at = NOW()\n    WHERE id = $1\n    RETURNING id, telefone\n),\nmensagem_salva AS\n(\n    INSERT INTO mensagens (candidato_id, quem, mensagem, created_at)\n    SELECT id, 'IA', $6, NOW()\n    FROM candidato_atualizado\n    RETURNING id\n),\nevento_salvo AS\n(\n    INSERT INTO eventos (candidato_id, evento, descricao, created_at)\n    SELECT\n      id,\n      CASE\n        WHEN $8::TEXT = 'REAGENDAMENTO' AND $5::BOOLEAN THEN 'OPCOES_REAGENDAMENTO_OFERECIDAS'\n        WHEN $5::BOOLEAN THEN 'OPCOES_ENTREVISTA_OFERECIDAS'\n        ELSE 'SEM_HORARIOS_ENTREVISTA'\n      END,\n      $6,\n      NOW()\n    FROM candidato_atualizado\n    RETURNING id\n)\nSELECT\n    $5::BOOLEAN AS ok,\n    CASE WHEN $5::BOOLEAN\n      THEN 'OPCOES_GERADAS'\n      ELSE 'SEM_HORARIOS'\n    END AS status,\n    $1::BIGINT AS candidato_id,\n    (SELECT telefone FROM candidato_atualizado LIMIT 1) AS telefone,\n    $7::TEXT AS session,\n    $6::TEXT AS mensagem_whatsapp,\n    $4::JSONB AS opcoes;",
        "options": {
          "queryReplacement": "={{ [\n  $json.candidato_id,\n  $json.lote,\n  $json.expira_em,\n  JSON.stringify($json.opcoes),\n  $json.encontrou_tres,\n  $json.mensagem_whatsapp,\n  $json.session,\n  $json.motivo_regeneracao\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5296,
        2352
      ],
      "id": "493002b0-215b-44e0-b152-3a0e8e1b5885",
      "name": "Persistir opções e mensagem",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n    c.id AS candidato_id,\n    c.nome,\n    c.telefone,\n    c.vaga_id,\n    COALESCE(v.titulo, c.vaga, 'Vaga não informada') AS vaga,\n    c.apresentacao_profissional,\n    c.personalidade_resumo,\n    c.personalidade_tags,\n    entrada.action,\n    entrada.opcao_numero,\n    entrada.calendar_id,\n    entrada.timezone,\n    entrada.session,\n    entrada.recrutadora_telefone,\n    o.id AS opcao_id,\n    o.inicio,\n    o.fim\nFROM (\n    SELECT\n      $1::BIGINT AS candidato_id,\n      $2::INTEGER AS opcao_numero,\n      $3::TEXT AS action,\n      $4::TEXT AS calendar_id,\n      $5::TEXT AS timezone,\n      $6::TEXT AS session,\n      $7::TEXT AS recrutadora_telefone\n) entrada\nJOIN candidatos c ON c.id = entrada.candidato_id\nLEFT JOIN vagas v ON v.id = c.vaga_id\nLEFT JOIN LATERAL (\n    SELECT *\n    FROM entrevista_opcoes\n    WHERE candidato_id = c.id\n      AND opcao = entrada.opcao_numero\n      AND status = 'OFERECIDA'\n      AND expira_em > NOW()\n      AND inicio > NOW()\n    ORDER BY created_at DESC\n    LIMIT 1\n) o ON TRUE\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [\n  $json.candidato_id,\n  $json.opcao_numero,\n  $json.action,\n  $json.calendar_id,\n  $json.timezone,\n  $json.session,\n  $json.recrutadora_telefone\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4576,
        2624
      ],
      "id": "0d7da8b0-9e5c-4921-af31-56c5770fd914",
      "name": "Buscar opção escolhida",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7219bbb-4011-463d-a7a8-f7b6a0923da0",
              "leftValue": "={{ Boolean($json.opcao_id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4816,
        2624
      ],
      "id": "f9d9ae30-69cb-4082-aeaf-00a935f0c5c4",
      "name": "Opção ainda é válida?"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nreturn [{ json: { ...d, motivo_regeneracao: 'OPCAO_INVALIDA' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        2768
      ],
      "id": "8a6fe9b3-4c00-41f2-a525-53647157c84b",
      "name": "Preparar novas opções por escolha inválida"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst inicio = new Date(d.inicio);\nconst fim = new Date(d.fim);\n\nfunction fnv1a(text, seed = 2166136261) {\n  let hash = seed >>> 0;\n  for (let i = 0; i < text.length; i++) {\n    hash ^= text.charCodeAt(i);\n    hash = Math.imul(hash, 16777619) >>> 0;\n  }\n  return hash.toString(16).padStart(8, '0');\n}\n\nconst chave = `${d.candidato_id}|${inicio.toISOString()}|${d.vaga}`;\nconst eventId = `dlgreen${fnv1a(chave)}${fnv1a(chave, 2246822519)}`;\n\nreturn [{\n  json: {\n    ...d,\n    event_id: eventId,\n    titulo: `Entrevista - ${d.nome || 'Candidato'} - ${d.vaga}`,\n    descricao: [\n      `Candidato: ${d.nome || 'Não informado'}`,\n      `Candidato ID: ${d.candidato_id}`,\n      `Telefone: ${d.telefone || 'Não informado'}`,\n      `Vaga: ${d.vaga}`,\n      '',\n      `Apresentação: ${d.apresentacao_profissional || 'Não registrada'}`,\n      `Perfil profissional percebido: ${d.personalidade_resumo || 'Não analisado'}`,\n      '',\n      'Agendamento criado automaticamente pelo processo seletivo da DL Green.'\n    ].join('\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5056,
        2560
      ],
      "id": "cb14b815-d9c3-47fb-b6dc-5fecbbd90e20",
      "name": "Preparar evento da entrevista"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Preparar evento da entrevista').first().json.calendar_id }}",
          "mode": "id"
        },
        "eventId": "={{ $('Preparar evento da entrevista').first().json.event_id }}",
        "options": {
          "timeZone": {
            "__rl": true,
            "value": "={{ $('Preparar evento da entrevista').first().json.timezone }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        5296,
        2560
      ],
      "id": "6e82cb0a-a77d-4e77-85ff-7a342441378c",
      "name": "Buscar evento existente",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UK61D1PIzGuZcVUC",
          "name": "Google Calendar account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9f5a505-9dc4-4a6c-9a19-2f11d5e6e409",
              "leftValue": "={{ Boolean($json.id) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5536,
        2560
      ],
      "id": "a4455a9d-2007-4312-a149-1842a3199430",
      "name": "Evento já existe no Google?"
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Preparar evento da entrevista').first().json.calendar_id }}",
          "mode": "id"
        },
        "timeMin": "={{ $('Preparar evento da entrevista').first().json.inicio }}",
        "timeMax": "={{ $('Preparar evento da entrevista').first().json.fim }}",
        "options": {
          "outputFormat": "availability",
          "timezone": {
            "__rl": true,
            "value": "={{ $('Preparar evento da entrevista').first().json.timezone }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        5776,
        2688
      ],
      "id": "50f050cf-07e1-44ed-a1ee-cb8140e9804a",
      "name": "Confirmar disponibilidade",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UK61D1PIzGuZcVUC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "fb8e14a2-362c-45d3-b281-9dae5ced6110",
              "leftValue": "={{ $json.available === true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6016,
        2688
      ],
      "id": "27026bbc-6ee9-49d7-873b-7b813e760dd8",
      "name": "Horário continua disponível?"
    },
    {
      "parameters": {
        "jsCode": "const d = $('Preparar evento da entrevista').first().json;\nreturn [{ json: { ...d, motivo_regeneracao: 'HORARIO_OCUPADO' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6256,
        2832
      ],
      "id": "982c7035-5404-4a95-9168-fef318012032",
      "name": "Preparar novas opções por horário ocupado"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "={{ $('Preparar evento da entrevista').first().json.calendar_id }}",
          "mode": "id"
        },
        "start": "={{ $('Preparar evento da entrevista').first().json.inicio }}",
        "end": "={{ $('Preparar evento da entrevista').first().json.fim }}",
        "additionalFields": {
          "attendees": [],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "={{ $('Preparar evento da entrevista').first().json.descricao }}",
          "guestsCanInviteOthers": false,
          "guestsCanModify": false,
          "guestsCanSeeOtherGuests": false,
          "id": "={{ $('Preparar evento da entrevista').first().json.event_id }}",
          "location": "Google Meet",
          "sendUpdates": "none",
          "showMeAs": "opaque",
          "summary": "={{ $('Preparar evento da entrevista').first().json.titulo }}",
          "visibility": "private"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        6256,
        2624
      ],
      "id": "1423609e-c702-4a63-a85b-4e6a62968c3a",
      "name": "Criar evento com Google Meet",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UK61D1PIzGuZcVUC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const evento = $input.first().json;\nconst d = $('Preparar evento da entrevista').first().json;\n\nconst meet =\n  evento.hangoutLink\n  || evento.conferenceData?.entryPoints?.find(p => p.entryPointType === 'video')?.uri\n  || '';\n\nconst data = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: d.timezone || 'America/Sao_Paulo',\n  weekday: 'long',\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric',\n  hour: '2-digit',\n  minute: '2-digit'\n}).format(new Date(d.inicio));\n\nconst tags = Array.isArray(d.personalidade_tags)\n  ? d.personalidade_tags.join(', ')\n  : '';\n\nconst mensagemCandidato =\n  `Entrevista agendada com sucesso! ✅\\n\\n` +\n  `📅 ${data}\\n` +\n  `⏱️ Duração aproximada: 20 minutos\\n` +\n  `💻 Google Meet\\n\\n` +\n  `Link para participar:\\n${meet || evento.htmlLink || ''}\\n\\n` +\n  `Entre no link com aproximadamente 5 minutos de antecedência. ` +\n  `Caso precise cancelar ou reagendar, avise por aqui.`;\n\nconst mensagemRecrutadora =\n  `📌 Nova entrevista agendada\\n\\n` +\n  `Candidato(a): ${d.nome || 'Não informado'}\\n` +\n  `WhatsApp: ${d.telefone || 'Não informado'}\\n` +\n  `Vaga: ${d.vaga}\\n` +\n  `Data e horário: ${data}\\n` +\n  `Duração: 20 minutos\\n\\n` +\n  `Apresentação: ${d.apresentacao_profissional || 'Não registrada'}\\n\\n` +\n  `Perfil profissional percebido: ${d.personalidade_resumo || 'Não analisado'}` +\n  (tags ? `\\nCaracterísticas: ${tags}` : '') +\n  `\\n\\nGoogle Meet:\\n${meet || evento.htmlLink || ''}`;\n\nreturn [{\n  json: {\n    ...d,\n    google_event_id: evento.id || d.event_id,\n    google_event_url: evento.htmlLink || '',\n    meet_link: meet,\n    mensagem_whatsapp: mensagemCandidato,\n    mensagem_recrutadora: mensagemRecrutadora\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6496,
        2560
      ],
      "id": "7a4a4d4d-ec23-49c5-a997-423e83c1f8dc",
      "name": "Preparar mensagens do agendamento"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH entrevista_salva AS\n(\n    INSERT INTO entrevistas\n    (\n      candidato_id, vaga_id, opcao_id, inicio, fim, status,\n      calendar_id, google_event_id, google_event_url, meet_link,\n      recrutadora_telefone, created_at, updated_at\n    )\n    VALUES\n    (\n      $1, $2, $3, $4, $5, 'AGENDADA',\n      $6, $7, $8, $9, $10, NOW(), NOW()\n    )\n    ON CONFLICT (google_event_id)\n    DO UPDATE SET\n      google_event_url = EXCLUDED.google_event_url,\n      meet_link = EXCLUDED.meet_link,\n      updated_at = NOW()\n    RETURNING id\n),\nopcoes_atualizadas AS\n(\n    UPDATE entrevista_opcoes\n    SET\n      status = CASE WHEN id = $3 THEN 'SELECIONADA' ELSE 'CANCELADA' END,\n      updated_at = NOW()\n    WHERE candidato_id = $1\n      AND status = 'OFERECIDA'\n    RETURNING id\n),\ncandidato_atualizado AS\n(\n    UPDATE candidatos\n    SET\n      etapa = 'ENTREVISTA_AGENDADA',\n      status = 'APROVADO',\n      updated_at = NOW()\n    WHERE id = $1\n    RETURNING id\n),\nmensagem_salva AS\n(\n    INSERT INTO mensagens (candidato_id, quem, mensagem, created_at)\n    VALUES ($1, 'IA', $11, NOW())\n    RETURNING id\n),\nevento_salvo AS\n(\n    INSERT INTO eventos (candidato_id, evento, descricao, created_at)\n    VALUES ($1, 'ENTREVISTA_AGENDADA', $11, NOW())\n    RETURNING id\n)\nSELECT\n  TRUE AS ok,\n  'AGENDADO' AS status,\n  $1::BIGINT AS candidato_id,\n  $4::TIMESTAMPTZ AS inicio,\n  $5::TIMESTAMPTZ AS fim,\n  $7::TEXT AS google_event_id,\n  $8::TEXT AS google_event_url,\n  $9::TEXT AS meet_link,\n  $11::TEXT AS mensagem_whatsapp,\n  $12::TEXT AS mensagem_recrutadora,\n  $13::TEXT AS session,\n  $10::TEXT AS recrutadora_telefone;",
        "options": {
          "queryReplacement": "={{ [\n  $json.candidato_id,\n  $json.vaga_id,\n  $json.opcao_id,\n  $json.inicio,\n  $json.fim,\n  $json.calendar_id,\n  $json.google_event_id,\n  $json.google_event_url,\n  $json.meet_link,\n  $json.recrutadora_telefone,\n  $json.mensagem_whatsapp,\n  $json.mensagem_recrutadora,\n  $json.session\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6736,
        2560
      ],
      "id": "a2d9fe64-bc46-45b9-b9f5-79b893e0e314",
      "name": "Persistir entrevista",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session ?? 'whats_junior' }}",
        "chatId": "={{ String($json.recrutadora_telefone ?? '5511951558547').replace(/\\D/g, '') + '@c.us' }}",
        "text": "={{ String($json.mensagem_recrutadora ?? '').trim() }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        6976,
        2560
      ],
      "id": "e5d23e11-ed51-4193-ba84-121981073cc9",
      "name": "Avisar recrutadora no WhatsApp",
      "credentials": {
        "wahaApi": {
          "id": "p3G9VOeOuySczl72",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const atual = $input.first().json ?? {};\nlet origem = atual;\n\nfunction tentar(nome) {\n  try {\n    return $(nome).first().json ?? null;\n  } catch {\n    return null;\n  }\n}\n\nconst entrevista = tentar('Persistir entrevista');\nconst opcoes = tentar('Persistir opções e mensagem');\nconst existente = tentar('Retorno entrevista existente');\nconst carregado = tentar('Carregar candidato e vaga');\n\nif (entrevista?.mensagem_whatsapp) {\n  origem = entrevista;\n} else if (opcoes?.mensagem_whatsapp) {\n  origem = opcoes;\n} else if (existente?.mensagem_whatsapp) {\n  origem = existente;\n}\n\nreturn [{\n  json: {\n    ...origem,\n    candidato_id: Number(\n      origem.candidato_id\n      ?? carregado?.candidato_id\n    ),\n    telefone: String(\n      origem.telefone\n      ?? carregado?.telefone\n      ?? ''\n    ).replace(/\\D/g, ''),\n    session: String(\n      origem.session\n      ?? carregado?.session\n      ?? 'whats_junior'\n    ),\n    mensagem_whatsapp: String(\n      origem.mensagem_whatsapp\n      ?? origem.mensagem\n      ?? ''\n    ).trim()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7216,
        2560
      ],
      "id": "1b4c33bd-7ea5-446b-b05f-d3ed4cee6823",
      "name": "Retornar para workflow principal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "89c4f040-76c7-4774-a705-13840f00aa02",
              "leftValue": "={{ $json.action === 'REAGENDAR' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4064,
        2432
      ],
      "id": "295b791e-7903-4c5a-820e-1aa53004482f",
      "name": "É reagendamento?"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\n\nif (!d.entrevista_id) {\n  return [{\n    json: {\n      ...d,\n      possui_evento_anterior: false,\n      google_event_id_anterior: '',\n      calendar_id_anterior: d.calendar_id,\n      motivo_regeneracao: 'REAGENDAMENTO'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ...d,\n    possui_evento_anterior: Boolean(d.entrevista_google_event_id),\n    google_event_id_anterior: String(d.entrevista_google_event_id || ''),\n    calendar_id_anterior: String(d.entrevista_calendar_id || d.calendar_id),\n    motivo_regeneracao: 'REAGENDAMENTO'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4304,
        2224
      ],
      "id": "63f30a47-d6f5-4255-b70c-54959c183aa4",
      "name": "Preparar cancelamento para reagendar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "73c901cc-1fed-4790-8b36-168105b3e8fd",
              "leftValue": "={{ Boolean($json.possui_evento_anterior) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4544,
        2224
      ],
      "id": "66d8a67c-8957-44fd-935b-bce0df0d0889",
      "name": "Possui evento anterior no Google?"
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $('Preparar cancelamento para reagendar').first().json.calendar_id_anterior }}",
          "mode": "id"
        },
        "eventId": "={{ $('Preparar cancelamento para reagendar').first().json.google_event_id_anterior }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        4784,
        2112
      ],
      "id": "a8922f3d-3cb3-4c28-94f1-5f9b3cdfd88d",
      "name": "Remover evento anterior do Google",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UK61D1PIzGuZcVUC",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH entrevista_anterior AS\n(\n    UPDATE entrevistas\n    SET\n        status = 'REAGENDADA',\n        updated_at = NOW()\n    WHERE id = $1\n      AND candidato_id = $2\n      AND status = 'AGENDADA'\n    RETURNING id\n),\nopcoes_canceladas AS\n(\n    UPDATE entrevista_opcoes\n    SET status = 'CANCELADA', updated_at = NOW()\n    WHERE candidato_id = $2\n      AND status = 'OFERECIDA'\n    RETURNING id\n),\ncandidato_atualizado AS\n(\n    UPDATE candidatos\n    SET\n        etapa = 'GERANDO_OPCOES_ENTREVISTA',\n        status = 'APROVADO',\n        updated_at = NOW()\n    WHERE id = $2\n    RETURNING id, telefone\n),\nevento_salvo AS\n(\n    INSERT INTO eventos (candidato_id, evento, descricao, created_at)\n    SELECT\n        id,\n        'REAGENDAMENTO_SOLICITADO',\n        'O candidato solicitou reagendamento. O evento anterior foi removido ou marcado para remoção e novas opções serão geradas.',\n        NOW()\n    FROM candidato_atualizado\n    RETURNING id\n)\nSELECT\n    $3::TEXT AS action,\n    $2::BIGINT AS candidato_id,\n    $4::TEXT AS calendar_id,\n    $5::TEXT AS timezone,\n    $6::TEXT AS session,\n    $7::TEXT AS recrutadora_telefone,\n    'REAGENDAMENTO'::TEXT AS motivo_regeneracao,\n    (SELECT telefone FROM candidato_atualizado LIMIT 1) AS telefone;",
        "options": {
          "queryReplacement": "={{ [\n  $('Preparar cancelamento para reagendar').first().json.entrevista_id,\n  $('Preparar cancelamento para reagendar').first().json.candidato_id,\n  'GERAR_OPCOES',\n  $('Preparar cancelamento para reagendar').first().json.calendar_id,\n  $('Preparar cancelamento para reagendar').first().json.timezone,\n  $('Preparar cancelamento para reagendar').first().json.session,\n  $('Preparar cancelamento para reagendar').first().json.recrutadora_telefone\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5024,
        2224
      ],
      "id": "26a5fa6b-f45c-4e0b-818b-5fcc51e52569",
      "name": "Persistir início do reagendamento",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Quando chamado pelo workflow principal": {
      "main": [
        [
          {
            "node": "Validar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar entrada": {
      "main": [
        [
          {
            "node": "Carregar candidato e vaga",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Carregar candidato e vaga": {
      "main": [
        [
          {
            "node": "É reagendamento?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Já possui entrevista agendada?": {
      "main": [
        [
          {
            "node": "Retorno entrevista existente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "É para gerar opções?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É para gerar opções?": {
      "main": [
        [
          {
            "node": "Preparar janela de busca",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar opção escolhida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar janela de busca": {
      "main": [
        [
          {
            "node": "Buscar compromissos do Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar compromissos do Calendar": {
      "main": [
        [
          {
            "node": "Calcular 3 opções livres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular 3 opções livres": {
      "main": [
        [
          {
            "node": "Persistir opções e mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar opção escolhida": {
      "main": [
        [
          {
            "node": "Opção ainda é válida?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Opção ainda é válida?": {
      "main": [
        [
          {
            "node": "Preparar evento da entrevista",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar novas opções por escolha inválida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar novas opções por escolha inválida": {
      "main": [
        [
          {
            "node": "Preparar janela de busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar evento da entrevista": {
      "main": [
        [
          {
            "node": "Buscar evento existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar evento existente": {
      "main": [
        [
          {
            "node": "Evento já existe no Google?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evento já existe no Google?": {
      "main": [
        [
          {
            "node": "Preparar mensagens do agendamento",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar disponibilidade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar disponibilidade": {
      "main": [
        [
          {
            "node": "Horário continua disponível?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horário continua disponível?": {
      "main": [
        [
          {
            "node": "Criar evento com Google Meet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar novas opções por horário ocupado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar novas opções por horário ocupado": {
      "main": [
        [
          {
            "node": "Preparar janela de busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar evento com Google Meet": {
      "main": [
        [
          {
            "node": "Preparar mensagens do agendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar mensagens do agendamento": {
      "main": [
        [
          {
            "node": "Persistir entrevista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir entrevista": {
      "main": [
        [
          {
            "node": "Avisar recrutadora no WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Avisar recrutadora no WhatsApp": {
      "main": [
        [
          {
            "node": "Retornar para workflow principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retorno entrevista existente": {
      "main": [
        [
          {
            "node": "Retornar para workflow principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir opções e mensagem": {
      "main": [
        [
          {
            "node": "Retornar para workflow principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É reagendamento?": {
      "main": [
        [
          {
            "node": "Preparar cancelamento para reagendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Já possui entrevista agendada?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar cancelamento para reagendar": {
      "main": [
        [
          {
            "node": "Possui evento anterior no Google?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Possui evento anterior no Google?": {
      "main": [
        [
          {
            "node": "Remover evento anterior do Google",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Persistir início do reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover evento anterior do Google": {
      "main": [
        [
          {
            "node": "Persistir início do reagendamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Persistir início do reagendamento": {
      "main": [
        [
          {
            "node": "Preparar janela de busca",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/Sao_Paulo",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "2970db22-dcc4-43d1-bb0b-e3bbd78ecc76",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed9e12d078f2b3917c211785e024e75abcc7a95909f7ad754ac4b7210527e838"
  },
  "nodeGroups": [],
  "id": "BMbVglkg4WjpuqSc",
  "tags": []
}