n8n/04_GENESIS_IA_DIVULGACAO_ROTATIVA_45_MIN_V4.json
{
  "name": "04_GENESIS_IA_DIVULGACAO_ROTATIVA_45_MIN_V4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        300
      ],
      "id": "41157baa-e037-4515-b68c-7f47d624f26b",
      "name": "Teste manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        120,
        100
      ],
      "id": "c6c42b8d-a8fb-4648-8d8d-0363bda9c0f0",
      "name": "Verificar janela a cada 15 min"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a359598a-7733-4380-83e8-808eee022dcb",
              "name": "forcar_envio",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "58dfdb1a-288c-43ca-9bb9-9fbb63e7c986",
              "name": "grupo_id",
              "value": "COLE_O_ID_DO_GRUPO@g.us",
              "type": "string"
            },
            {
              "id": "293ed338-a47a-4123-b88c-82c6fff2b26c",
              "name": "sessao_waha",
              "value": "whats_junior",
              "type": "string"
            },
            {
              "id": "8d114638-eb62-44e1-9819-e5ba2fa52e20",
              "name": "site_public_url",
              "value": "https://SEU-SITE.easypanel.host",
              "type": "string"
            },
            {
              "id": "200642ce-80b3-49d1-8631-a725b2477344",
              "name": "public_token",
              "value": "TROQUE_PELA_MESMA_CHAVE_DO_EASYPANEL",
              "type": "string"
            },
            {
              "id": "be4b7666-9018-4206-880d-ae9a00c0fc88",
              "name": "telefone_divulgacao",
              "value": "11913022278",
              "type": "string"
            },
            {
              "id": "af6c45dc-cc13-4418-8070-b377b8d7b57c",
              "name": "repeticao_minima_horas",
              "value": 6,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        300
      ],
      "id": "046a1e5d-87b7-40ef-86a5-81b577e7c046",
      "name": "Configuração teste"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1a4cdcfc-db3e-451e-9d33-1af935c9718c",
              "name": "forcar_envio",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "f1bd35e4-aaeb-4d8f-bdbd-875ecdbcf449",
              "name": "grupo_id",
              "value": "COLE_O_ID_DO_GRUPO@g.us",
              "type": "string"
            },
            {
              "id": "17945322-0c6b-4400-813a-506163b7a904",
              "name": "sessao_waha",
              "value": "whats_junior",
              "type": "string"
            },
            {
              "id": "e535ee83-b7d9-466f-b9fc-89a5f93bc07a",
              "name": "site_public_url",
              "value": "https://SEU-SITE.easypanel.host",
              "type": "string"
            },
            {
              "id": "0515a3d6-ae70-458f-8f48-78645a896ef5",
              "name": "public_token",
              "value": "TROQUE_PELA_MESMA_CHAVE_DO_EASYPANEL",
              "type": "string"
            },
            {
              "id": "56beb742-7412-44c7-be6d-1c2d0a8df0a9",
              "name": "telefone_divulgacao",
              "value": "11913022278",
              "type": "string"
            },
            {
              "id": "3abd8b85-17bc-4adc-b46d-92925eb57e19",
              "name": "repeticao_minima_horas",
              "value": 6,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        100
      ],
      "id": "5b9d1852-5be9-4841-b3d0-89a3e13d39c4",
      "name": "Configuração automática"
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const cfg = $input.first().json;\nconst now = new Date();\nconst parts = new Intl.DateTimeFormat('en-CA', {\n  timeZone: 'America/Sao_Paulo', weekday: 'short', hour: '2-digit', minute: '2-digit', hourCycle: 'h23'\n}).formatToParts(now).reduce((acc, part) => (acc[part.type] = part.value, acc), {});\nconst weekdays = {Mon:1,Tue:2,Wed:3,Thu:4,Fri:5,Sat:6,Sun:7};\nconst day = weekdays[parts.weekday];\nconst minutes = Number(parts.hour) * 60 + Number(parts.minute);\nconst start = 8 * 60;\nconst end = 19 * 60;\nconst automaticSlot = day <= 6 && minutes >= start && minutes <= end && ((minutes - start) % 45 <= 14);\nif (!cfg.forcar_envio && !automaticSlot) return [];\nif (!String(cfg.grupo_id || '').endsWith('@g.us') || String(cfg.grupo_id).startsWith('COLE_')) {\n  throw new Error('Informe o grupo_id real no node de configuração. Ele deve terminar com @g.us.');\n}\nif (!/^https?:\\/\\//i.test(String(cfg.site_public_url || ''))) {\n  throw new Error('Informe a URL pública do site no node de configuração.');\n}\nreturn [{json: cfg}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        200
      ],
      "id": "dc2393d6-22dd-400b-a70c-4dc6faab330c",
      "name": "Validar dia e horário"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  v.*,\n  $1::TEXT AS grupo_id,\n  $3::TEXT AS sessao_waha,\n  RTRIM($4::TEXT, '/') AS site_public_url,\n  $5::TEXT AS public_token,\n  $6::TEXT AS telefone_divulgacao,\n  historico.ultimo_envio\nFROM vagas v\nLEFT JOIN LATERAL (\n  SELECT MAX(d.enviado_em) AS ultimo_envio\n  FROM divulgacao_vagas_envios d\n  WHERE d.vaga_id = v.id\n    AND d.grupo_id = $1\n    AND d.status IN ('ENVIADO', 'IMAGEM_ENVIADA', 'TEXTO_ENVIADO')\n) historico ON TRUE\nWHERE v.status = 'ATIVA'\n  AND (\n    historico.ultimo_envio IS NULL\n    OR historico.ultimo_envio < NOW() - MAKE_INTERVAL(hours => $2::INTEGER)\n  )\nORDER BY historico.ultimo_envio ASC NULLS FIRST, v.updated_at DESC, v.id ASC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ [$json.grupo_id, Number($json.repeticao_minima_horas || 6), $json.sessao_waha, $json.site_public_url, $json.public_token, $json.telefone_divulgacao] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        200
      ],
      "id": "e90e8e01-f603-4895-ad6a-19aef33286b4",
      "name": "Buscar próxima vaga da rotação",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const v = $input.first().json;\nconst money = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) && n > 0 ? new Intl.NumberFormat('pt-BR',{style:'currency',currency:'BRL'}).format(n) : 'A combinar';\n};\nconst list = (value) => String(value || '').split(/\\r?\\n|;|\\|/).map(x => x.trim().replace(/^[-•*]\\s*/, '')).filter(Boolean);\nconst phoneDigits = String(v.telefone_divulgacao || '11913022278').replace(/\\D/g,'');\nconst phone = phoneDigits.length === 11 ? `(${phoneDigits.slice(0,2)}) ${phoneDigits.slice(2,7)}-${phoneDigits.slice(7)}` : phoneDigits;\nconst location = [v.bairro, v.cidade].filter(Boolean).join(' — ') || 'Local a combinar';\nconst schedule = [v.escala ? `Escala ${v.escala}` : '', v.horario ? `Horário ${v.horario}` : ''].filter(Boolean).join(' · ') || 'A confirmar';\nconst benefits = list(v.beneficios).slice(0,6).join(', ') || 'Informados no processo seletivo';\nconst unhealthy = v.possui_insalubridade === true || String(v.possui_insalubridade).toLowerCase() === 'true';\nconst percent = Number(v.percentual_insalubridade);\nconst insalubridade = unhealthy ? `🧪 Insalubridade: ${Number.isFinite(percent) ? `${percent}%` : 'percentual a confirmar'}` : '';\nconst caption = [\n  `*${v.titulo || v.cargo} | Início imediato*`,\n  `📍 ${location}`,\n  `🕐 ${schedule}`,\n  `💰 Salário: ${money(v.salario)}`,\n  insalubridade,\n  `🎁 Benefícios: ${benefits}`,\n  '',\n  `📲 Para mais informações, chame no privado: ${phone}`\n].filter(line => line !== '').join('\\n');\nconst token = encodeURIComponent(String(v.public_token || ''));\nconst imageUrl = `${String(v.site_public_url).replace(/\\/$/,'')}/api/public/vagas/${v.id}/divulgacao/principal.png?token=${token}`;\nreturn [{json:{...v, session:v.sessao_waha, chatId:v.grupo_id, caption, image_url:imageUrl, filename:`${v.codigo || `vaga-${v.id}`}-divulgacao.png`}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        200
      ],
      "id": "d5bbd119-6e9e-4df1-9026-7455aed054f7",
      "name": "Montar publicação"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Image",
        "session": "={{ $json.session }}",
        "chatId": "={{ $json.chatId }}",
        "file": "={{ { mimetype: 'image/png', filename: $json.filename, url: $json.image_url } }}",
        "caption": "={{ $json.caption }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1400,
        200
      ],
      "id": "261e0e81-b51c-422b-a265-2b05dd24f04b",
      "name": "Enviar imagem no grupo",
      "credentials": {
        "wahaApi": {
          "id": "p3G9VOeOuySczl72",
          "name": "WAHA account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9365bc6-327b-443d-aad4-4dc60e16817b",
              "leftValue": "={{ !$json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1630,
        200
      ],
      "id": "932ba280-32af-43d3-a76d-eb3ec1642429",
      "name": "Imagem enviada com sucesso?"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('Montar publicação').item.json.session }}",
        "chatId": "={{ $('Montar publicação').item.json.chatId }}",
        "text": "={{ $('Montar publicação').item.json.caption }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1880,
        330
      ],
      "id": "7f01722b-23c8-4e91-8903-2a3b379a2497",
      "name": "Fallback enviar somente texto",
      "credentials": {
        "wahaApi": {
          "id": "p3G9VOeOuySczl72",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO divulgacao_vagas_envios (\n  vaga_id, grupo_id, tipo, status, mensagem_id, imagem_url, legenda, erro, enviado_em, created_at, updated_at\n) VALUES (\n  $1, $2, $3, $4, NULLIF($5::TEXT, ''), $6, $7, NULLIF($8::TEXT, ''), NOW(), NOW(), NOW()\n)\nRETURNING id, vaga_id, grupo_id, status, enviado_em;",
        "options": {
          "queryReplacement": "={{ [Number($('Montar publicação').item.json.id), $('Montar publicação').item.json.chatId, 'IMAGEM', 'IMAGEM_ENVIADA', String($('Enviar imagem no grupo').item.json.id ?? $('Enviar imagem no grupo').item.json.key?.id ?? ''), $('Montar publicação').item.json.image_url, $('Montar publicação').item.json.caption, ''] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1880,
        120
      ],
      "id": "b6a5a8f4-8ab9-4c50-b275-a28677a0ec4b",
      "name": "Registrar imagem enviada",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO divulgacao_vagas_envios (\n  vaga_id, grupo_id, tipo, status, mensagem_id, imagem_url, legenda, erro, enviado_em, created_at, updated_at\n) VALUES (\n  $1, $2, $3, $4, NULLIF($5::TEXT, ''), $6, $7, NULLIF($8::TEXT, ''), NOW(), NOW(), NOW()\n)\nRETURNING id, vaga_id, grupo_id, status, enviado_em;",
        "options": {
          "queryReplacement": "={{ [Number($('Montar publicação').item.json.id), $('Montar publicação').item.json.chatId, 'TEXTO', 'TEXTO_ENVIADO', String($json.id ?? $json.key?.id ?? ''), $('Montar publicação').item.json.image_url, $('Montar publicação').item.json.caption, String($('Enviar imagem no grupo').item.json.error?.message ?? $('Enviar imagem no grupo').item.json.error ?? 'A imagem falhou; texto enviado como fallback.')] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2140,
        330
      ],
      "id": "d343096d-eafe-4931-aeff-615407e2c741",
      "name": "Registrar fallback de texto",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Teste manual": {
      "main": [
        [
          {
            "node": "Configuração teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar janela a cada 15 min": {
      "main": [
        [
          {
            "node": "Configuração automática",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração teste": {
      "main": [
        [
          {
            "node": "Validar dia e horário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuração automática": {
      "main": [
        [
          {
            "node": "Validar dia e horário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar dia e horário": {
      "main": [
        [
          {
            "node": "Buscar próxima vaga da rotação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar próxima vaga da rotação": {
      "main": [
        [
          {
            "node": "Montar publicação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar publicação": {
      "main": [
        [
          {
            "node": "Enviar imagem no grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar imagem no grupo": {
      "main": [
        [
          {
            "node": "Imagem enviada com sucesso?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Imagem enviada com sucesso?": {
      "main": [
        [
          {
            "node": "Registrar imagem enviada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback enviar somente texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback enviar somente texto": {
      "main": [
        [
          {
            "node": "Registrar fallback de texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "active": false,
  "tags": []
}