n8n/07_GENESIS_IA_CONVITE_GRUPO_REPROVADOS_V4.json
{
  "name": "07_GENESIS_IA_CONVITE_GRUPO_REPROVADOS_V4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "id": "4a218f46-a3db-4f38-b6b1-318617c25830",
      "name": "Teste manual"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 8-18 * * 1-6"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        100,
        100
      ],
      "id": "1afd8a38-9688-4c52-a957-9749dd883de3",
      "name": "Verificar reprovados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56dceebd-75f0-4549-9d25-d3a0f95b4aa0",
              "name": "grupo_id",
              "value": "COLE_O_ID_DO_GRUPO@g.us",
              "type": "string"
            },
            {
              "id": "585bfa44-3499-401a-9017-b6c228e9f37b",
              "name": "sessao_waha",
              "value": "whats_junior",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        200
      ],
      "id": "70d575e3-4f58-4559-84b4-7ba3077c8051",
      "name": "Configurar grupo"
    },
    {
      "parameters": {
        "resource": "Groups",
        "operation": "Get Invite Code",
        "session": "={{ $json.sessao_waha }}",
        "id": "={{ $json.grupo_id }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        580,
        200
      ],
      "id": "804a6ba4-1254-4acc-aaa1-81cbe1004fcf",
      "name": "Obter código atual do convite",
      "credentials": {
        "wahaApi": {
          "id": "p3G9VOeOuySczl72",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.id AS candidato_id, c.telefone, c.nome, c.status, c.etapa,\n  COALESCE(c.motivo_reprovacao_pos_entrevista, c.motivo_reprovacao, 'A candidatura não avançou nesta vaga específica.') AS motivo\nFROM candidatos c\nWHERE c.status='REPROVADO'\n  AND c.updated_at >= NOW() - INTERVAL '45 days'\n  AND NOT EXISTS (\n    SELECT 1 FROM grupo_convites_envios g\n    WHERE g.candidato_id=c.id AND g.grupo_id=$1 AND g.status='ENVIADO'\n  )\nORDER BY c.updated_at ASC\nLIMIT 10;",
        "options": {
          "queryReplacement": "={{ [$('Configurar grupo').first().json.grupo_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        820,
        200
      ],
      "id": "c2174ea2-b386-4fb7-b681-a5d8abf3c546",
      "name": "Buscar reprovados sem convite",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "mode": "runOnceForAllItems",
        "jsCode": "const raw=$('Obter código atual do convite').first().json;\nconst cfg=$('Configurar grupo').first().json;\nlet code='';\nif (typeof raw==='string') code=raw;\nelse code=String(raw.inviteCode ?? raw.invite_code ?? raw.code ?? raw.value ?? raw.result ?? '').trim();\ncode=code.replace(/^https?:\\/\\/chat\\.whatsapp\\.com\\//i,'').trim();\nif (!code) throw new Error('O WAHA não retornou o código atual do convite do grupo.');\nconst link=`https://chat.whatsapp.com/${code}`;\nreturn items.map((item)=>{\n const c=item.json; const first=String(c.nome||'').trim().split(/\\s+/)[0];\n const hi=first?`Olá, ${first}.`:'Olá.';\n const text=[\n  hi,\n  'Neste momento, sua candidatura não avançou para esta vaga específica.',\n  '',\n  'Como novas oportunidades são divulgadas com frequência, você pode entrar em nosso grupo de vagas pelo link abaixo:',\n  link,\n  '',\n  'Quando encontrar uma vaga compatível, é só nos chamar novamente no privado. Você continuará podendo participar de novos processos.'\n ].join('\\n');\n return {json:{...c,session:cfg.sessao_waha,chatId:String(c.telefone||'').replace(/\\D/g,'')+'@c.us',grupo_id:cfg.grupo_id,codigo_convite:code,link_convite:link,text}};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        200
      ],
      "id": "4de5e9d6-ece4-4220-beff-580ac899cd15",
      "name": "Montar convite"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $json.session }}",
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-waha.WAHA",
      "typeVersion": 202411,
      "position": [
        1300,
        200
      ],
      "id": "78b928ed-76d3-4cb0-9ec4-4bf6d2508fdf",
      "name": "Enviar convite no privado",
      "credentials": {
        "wahaApi": {
          "id": "p3G9VOeOuySczl72",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH g AS (\n  INSERT INTO grupo_convites_envios (\n    candidato_id, grupo_id, codigo_convite, link_convite, mensagem, status, mensagem_waha_id, enviado_em, created_at, updated_at\n  ) VALUES ($1,$2,$3,$4,$5,'ENVIADO',NULLIF($6::TEXT,''),NOW(),NOW(),NOW())\n  ON CONFLICT (candidato_id, grupo_id)\n  DO UPDATE SET codigo_convite=EXCLUDED.codigo_convite, link_convite=EXCLUDED.link_convite, mensagem=EXCLUDED.mensagem,\n    status='ENVIADO', mensagem_waha_id=EXCLUDED.mensagem_waha_id, enviado_em=NOW(), updated_at=NOW()\n  RETURNING id\n), m AS (\n  INSERT INTO mensagens (candidato_id, quem, mensagem, created_at) VALUES ($1,'IA',$5,NOW()) RETURNING id\n), e AS (\n  INSERT INTO eventos (candidato_id, evento, descricao, created_at) VALUES ($1,'CONVITE_GRUPO_VAGAS_ENVIADO',$4,NOW()) RETURNING id\n)\nSELECT id FROM g;",
        "options": {
          "queryReplacement": "={{ [Number($('Montar convite').item.json.candidato_id), $('Montar convite').item.json.grupo_id, $('Montar convite').item.json.codigo_convite, $('Montar convite').item.json.link_convite, $('Montar convite').item.json.text, String($json.id ?? $json.key?.id ?? '')] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1540,
        200
      ],
      "id": "b4dc6cd3-20cd-4588-9449-e2618794f2f7",
      "name": "Registrar convite enviado",
      "credentials": {
        "postgres": {
          "id": "tZw9XBnM0uOBRBeF",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Teste manual": {
      "main": [
        [
          {
            "node": "Configurar grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar reprovados": {
      "main": [
        [
          {
            "node": "Configurar grupo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar grupo": {
      "main": [
        [
          {
            "node": "Obter código atual do convite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter código atual do convite": {
      "main": [
        [
          {
            "node": "Buscar reprovados sem convite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reprovados sem convite": {
      "main": [
        [
          {
            "node": "Montar convite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar convite": {
      "main": [
        [
          {
            "node": "Enviar convite no privado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar convite no privado": {
      "main": [
        [
          {
            "node": "Registrar convite enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo"
  },
  "active": false,
  "tags": []
}